<section class="content">
    <header class="header">
        <nav class="nav-bar">
            <div class="logo">
                <img src="../assets/resumable/logo.jpg">
                <a href=""><span>Comunità Energetica</span></a>
            </div>

            <div class="nav-list">
                <ul class="menu">
                    <li>
                        <a href="#">Product <span>&#9660;</span></a>
                        <ul class="dropdown">
                            <li><a href="">Crea Mappa</a></li>
                            <li><a href="">Visualizza Mappa</a></li>
                            <li><a href="">Mercato Energia</a></li>
                        </ul>
                    </li>
                    
                    <hr>
                    
                    <li><a href="#">FAQ</a></li>
                    
                    <hr>
                    
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            
            <div class="access">
                <div class="sing-in">
                    <li>
                        <a href="#"><span>Sing In</span></a>
                    </li>
                </div>
                <div class="sing-up">
                    <li>
                        <a href="#"><span>Sing Up</span></a>
                    </li>
                </div>
            </div>
        </nav>
    </header>

    <footer class="footer">

    </footer>
</section>