/* ------------------------------------- */
/* ?Basic Setup */
/* ------------------------------------- */

.container {
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 100em;
}

.section {
    display: block;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

/* ------------------------------------- */
/* ?Resulable components? */
/* ------------------------------------- */

/* !------Headings------! */

/* !------Paragraphs------! */

/* !------Links------! */

a:link,
a:visited {
    color: var(--color-dark);
    text-decoration: none;
}

/* a:hover,
a:active {
    
} */

/* !------Icons------! */

/* !------Images------! */

.responsive-img {
    max-width: 100%; /* Larghezza massima sarà il 100% del contenitore padre */
    height: auto; /* Mantiene l'aspetto originale dell'immagine */
}

/* !------Buttons------! */


/* ------------------------------------- */
/* ?CONTENT? */
/* ------------------------------------- */

.header {
    width: 100dvw;
    height: 100dvh;
    font-size: 22px;
}

.nav-bar {
    display: flex;
    position: relative;
    width: 100dvw;
    height: 70px;
    background-color: var(--color-selective-yellow);
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 70px;
    align-items: center;
}

.logo img {
    height: 100%;
}

.logo a {
    margin-left: 10px;
}

.nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20%;
    height: fit-content;
    transform: translate(-50%, -50%);
}

.menu {
    display: flex;
    height: 70px;    
    list-style: none;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-selective-yellow);
}

.menu > li {
    display: inline-block;
    height: 70px;
}

.menu hr {
    height: 40%;
    border: 2px solid var(--color-dark);
    border-radius: 50%;
}

.menu > li > a {
    display: block;
    height: 70px;
    transform: translate(0, 40%);
}

.menu li a::after {
    display: block;
    content: " ";
    width: 0;
    height: 2px;
    background-color: var(--color-dark);
    transition: 0.8s;
}

.menu li a:hover::after {
    width: 100%;
}

.menu li a span {
    font-size: 14px;
}

.dropdown {
    position: absolute;
    top: -100%;
    padding: 20px;
    width: max-content;
    border-radius: 0 0 20px 20px;
    list-style: none;
    background-color: var(--color-selective-yellow);
    transition: 1s all;
    z-index: -1;
}

.dropdown li {
    display: block;
}

.dropdown li:nth-child(1),
.dropdown li:nth-child(2) {
    margin-bottom: 10px;
}


.menu li:first-child a:hover::after {
    width: 0;
}

.menu li:first-child:hover .dropdown {
    top: 100%;
}

.dropdown li a::after {
    display: block;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
    transition: 0.8s;
}

.dropdown li a:hover::after {
    width: fit-content;
}

.access {
    display: flex;
    justify-self: right;
    height: fit-content;
    list-style: none;
}

.access div {
    margin: 0 10px;
}

.access li a {
    padding: 10px 20px;
    border: 2px solid var(--color-border);
    border-radius: 10px;
    transition: 0.5s;
}

.access li a:hover {
    border-color: var(--color-light);
    background-color: var(--color-light);
}

.access span {
    white-space: nowrap;
}