<section class="content">
    <header class="header">
        <nav class="nav-bar">
            <div class="logo">
                <img src="../assets/resumable/logo.jpg">
                <a href="" ><span>Comunità Energetica</span></a>
            </div>

            <div class="nav-list">
                <ul class="menu">
                    <li>
                        <a href="#">Product <span>&#9660;</span></a>
                        <ul class="dropdown">
                            <li><a href="">Crea Mappa</a></li>
                            <li><a href="">Visualizza Mappa</a></li>
                            <li><a href="">Mercato Energia</a></li>
                        </ul>
                    </li>
                    
                    <hr>
                    
                    <li><a href="#">FAQ</a></li>
                    
                    <hr>
                    
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            
            <div class="access">
                <div class="sing-in">
                    <li>
                        <a href="#"><span>Sing In</span></a>
                    </li>
                </div>
                <div class="sing-up">
                    <li>
                        <a href="#"><span>Sing Up</span></a>
                    </li>
                </div>
            </div>
        </nav>

        <div class="wrapped">
            <div class="bg-wrapped">
                <img src="../assets/index/header-bg.jpg">
            </div>
        </div>

        <div class="header-body">
            <div class="slogan">
                <h1>"Simula, innova, prospera!"</h1>
            </div>
            <div class="head-btn">
                <div class="sim">
                    <button class="btn">
                        <h2>Simulazione</h2>
                    </button>
                </div>
                <div class="sub-btn">
                    <button class="btn">
                        <h4>Mercato Energia</h4>
                    </button>
                    <button class="btn">
                        <h4>Community</h4>
                    </button>
                </div>
            </div>
        </div>
    </header>

    <footer class="footer">

    </footer>
</section>