<!-- !LOADER! -->
<!-- <div class="loader-container">
    <div class="loader"></div>
</div> -->

<section class="content">
    <!-- !HEADER! -->
    <header class="header">
        <nav class="nav-bar">
            <div class="logo">
                <div class="img">
                    <img src="../assets/resumable/logo.jpg">
                </div>
                <a href="">
                    <span>EnergyHub</span>
                </a>
            </div>

            <div class="nav-list">
                <ul class="menu">
                    <li>
                        <a href="#">Prodotti <span>&#9660;</span></a>
                        <ul class="dropdown">
                            <li><a href="">Crea Mappa<span>&#8594;</span></a></li>
                            <li><a href="">Visualizza Mappa<span>&#8594;</span></a></li>
                            <li><a href="">Mercato Energia<span>&#8594;</span></a></li>
                        </ul>
                    </li>
                    
                    <hr>
                    
                    <li><a href="#">FAQ</a></li>
                    
                    <hr>
                    
                    <li><a href="#">Contatti</a></li>
                </ul>
            </div>
            
            <div class="access">
                <magnetic class="sing-in">
                    <li class="magneto-text" id="login-span">
                        <a routerLink="../login"><span>Login</span></a>
                    </li>
                </magnetic>
                <magnetic class="sing-up">
                    <li class="magneto-text" id="register-span">
                        <a routerLink="../register"><span>Registrati</span></a>
                    </li>
                </magnetic>
            </div>
        </nav>

        <!-- <nav class="fixed-nav"></nav> -->

        <section class="header-body">
            <div class="slogan">
                <h1>Energyhub</h1>
                <h2><span>Energia</span> e <span>Innovazione</span></h2>
            </div>

            <div class="head-btn">
                <div class="sub-btn">
                    <div class="primary-btn">
                        <magnetic>
                            <hover-button>
                                <h2 #content>Simulazione</h2>
                            </hover-button>
                        </magnetic>
                    </div>

                    <div class="secondary-btn">
                        <magnetic>
                            <hover-button>
                                <h3 #content>Mercato</h3>
                            </hover-button>
                        </magnetic>
                        
                        <magnetic>
                            <hover-button>
                                <h3 #content>Community</h3>
                            </hover-button>
                        </magnetic>
                    </div>
                </div>
            </div>
        </section>

        <section class="head3dcontainer">
            <canvas class="head3d" #canvas></canvas>
        </section>
    </header>

    
    <!-- !FOOTER! -->
    <footer class="footer">
    </footer>
</section>

