<!-- !LOADER! -->
<!-- <div class="loader-container">
    <div class="loader"></div>
</div> -->

<section class="content">
    <!-- !BURGER! -->
    <div class="headerButtonContainer" #burger>
        <hover-button [className]="'button'" (click)="toggleBurger()">
            <div class="burger" [class.burgerActive]="isBurgerActive" #content></div>
        </hover-button>
    </div>

    <!-- <div class="fixed-nav">
    </div> -->

    <!-- !HEADER! -->
    <header class="header">
        <!-- ?BACKGROUND? -->
        <section class="head3dcontainer">
            <canvas class="head3d" #canvas></canvas>
        </section>

        <!-- ?NAV BAR? -->
        <nav class="nav-bar">
            <div class="logo">
                <div class="name">
                    <p class="Energyhub">Energyhub</p>
                    <div class="hidden-text">
                        <p class="benvenuti">Benvenuti</p>
                        <p class="nel">nel</p>
                        <p class="fururo">futuro</p>
                    </div>
                </div>
            </div>

            <div class="nav-list">
                <ul class="menu">
                    <li>
                        <a href="#">Prodotti <span>&#9660;</span></a>
                        <ul class="dropdown">
                            <li><a href="">Crea Mappa<span>&#8594;</span></a></li>
                            <li><a href="">Visualizza Mappa<span>&#8594;</span></a></li>
                            <li><a href="">Mercato Energia<span>&#8594;</span></a></li>
                        </ul>
                    </li>
                                        
                    <li><a href="#">FAQ</a></li>                    

                    <li><a href="#">Contatti</a></li>
                </ul>
            </div>
            
            <div class="access">
                <magnetic class="sing-in">
                    <li class="magneto-text" id="login-span">
                        <a routerLink="../login"><span>Login</span></a>
                    </li>
                </magnetic>
                <magnetic class="sing-up">
                    <li class="magneto-text" id="register-span">
                        <a routerLink="../register"><span>Registrati</span></a>
                    </li>
                </magnetic>
            </div>
        </nav>

        <!-- ?MAIN CONTENT HEADER? -->
        <section class="header-body">
            <div class="container-body">
                <div class="slogan">
                    <h1>Energyhub</h1>
                    <p><span>Energia</span> e <span>Innovazione</span></p>
                </div>
    
                <div class="head-btn">
                    <div class="sub-btn">
                        <div class="primary-btn">
                            <hover-button [className]="'btn'">
                                <p #content>Simulazione</p>
                            </hover-button>
                        </div>
    
                        <div class="secondary-btn">
                            <hover-button [className]="'btn'">
                                <p #content>Mercato</p>
                            </hover-button>
                            
                            <hover-button [className]="'btn'">
                                <p #content>Community</p>
                            </hover-button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- ?BOTTOM RIGHT TEXT? -->
        <section class="arrow-down">
            <a href="landingPage#main">
                <span>Esplora</span>
            </a>
            <iframe src="https://lottie.host/embed/bae84126-51f6-470d-b566-a7caab9ae8dc/kx5zSKY3o6.json"></iframe>
        </section>
    </header>
    
    
    <!-- !MAIN! -->
    <main id="main">
        <!-- ?DIVIDER? -->
        <div class="description-divider-top">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>

        <!-- ?DESCRIPTION? -->
        <div class="container">
            <div class="container description hidden-para" 
            (appInViewport)="$event"
            [inViewportOptions]="'{ &quot;threshold&quot;: [0] }'"
            [className]="'active-para'">
                <h4>
                    Dai sfogo alla tua creatività e cimentati in nuove sfide creando una città che si mantenga tramite la compra/vendita di energia elettrica fino a raggiungere l'indipendenza dalla necessità di acquisto da fonti esterne.
                </h4>
            </div>
            
            <div class="container about-us">
                <div class="btn-about">
                    <hover-button [className]="'btn-rounded'">
                        <p #content>Chi siamo</p>
                    </hover-button>
                </div>
            </div>
            
            <!-- ?DIVIDER? -->
            <div class="bottom-sim-divider-bottom">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                    <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                    <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
                </svg>
            </div>
        </div>
        

        <!-- ?CREATE SIM? -->
        <section class="section container create-sim">
            <div class="create-title">
                <h2 class="animatedText"
                (appInViewport)="animateText()"
                #animatedText>Rompi i limiti della tua immaginazione</h2>
            </div>
        </section>

        <!-- ?TOP SIM? -->
        <!-- <section class="top-sim">
            <div class="tom-title">
                <h2 class="title">Top del mese</h2>
            </div>

            

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"/>
                <path d="m12.707 8.707-1.414-1.414L6.586 12l4.707 4.707 1.414-1.414L10.414 13H16v-2h-5.586l2.293-2.293z"/>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm0 18a8 8 0 1 1 8-8 8.009 8.009 0 0 1-8 8z"/>
                <path d="M11.293 8.707 13.586 11H8v2h5.586l-2.293 2.293 1.414 1.414L17.414 12l-4.707-4.707-1.414 1.414z"/>
            </svg>
        </section> -->
    </main>
    
    <!-- !FOOTER! -->
    <footer class="footer">
    </footer>
</section>
