<!-- !LOADER! -->
<!-- <div class="loader-container">
    <div class="loader"></div>
</div> -->

<section class="content">
    <!-- !HEADER! -->
    <header class="header">
        <!-- ?BACKGROUND? -->
        <section class="head3dcontainer">
            <canvas class="head3d" #canvas></canvas>
        </section>

        <!-- ?NAV BAR? -->
        <nav class="nav-bar">
            <div class="logo">
                <div class="name">
                    <p class="Energyhub">Energyhub</p>
                    <div class="hidden-text">
                        <p class="benvenuti">Benvenuti</p>
                        <p class="nel">nel</p>
                        <p class="fururo">futuro</p>
                    </div>
                </div>
            </div>

            <div class="nav-list">
                <ul class="menu">
                    <li>
                        <a href="#">Prodotti <span>&#9660;</span></a>
                        <ul class="dropdown">
                            <li><a href="">Crea Mappa<span>&#8594;</span></a></li>
                            <li><a href="">Visualizza Mappa<span>&#8594;</span></a></li>
                            <li><a href="">Mercato Energia<span>&#8594;</span></a></li>
                        </ul>
                    </li>
                                        
                    <li><a href="#">FAQ</a></li>                    

                    <li><a href="#">Contatti</a></li>
                </ul>
            </div>
            
            <div class="access">
                <magnetic class="sing-in">
                    <li class="magneto-text" id="login-span">
                        <a routerLink="../login"><span>Login</span></a>
                    </li>
                </magnetic>
                <magnetic class="sing-up">
                    <li class="magneto-text" id="register-span">
                        <a routerLink="../register"><span>Registrati</span></a>
                    </li>
                </magnetic>
            </div>
        </nav>
        
        <!-- ?BURGER? -->
        <div class="headerButtonContainer" #burger>
            <hover-button [className]="'button'" (click)="toggleBurger()">
                <div class="burger" [class.burgerActive]="isBurgerActive" #content></div>
            </hover-button>
        </div>
        
        <!-- <div class="fixed-nav">
        </div> -->

        <!-- ?MAIN CONTENT HEADER? -->
        <section class="header-body">
            <div class="slogan">
                <h1>Energyhub</h1>
                <h2><span>Energia</span> e <span>Innovazione</span></h2>
            </div>

            <div class="head-btn">
                <div class="sub-btn">
                    <div class="primary-btn">
                        <hover-button [className]="'btn'">
                            <h2 #content>Simulazione</h2>
                        </hover-button>
                    </div>

                    <div class="secondary-btn">
                        <hover-button [className]="'btn'">
                            <h3 #content>Mercato</h3>
                        </hover-button>
                        
                        <hover-button [className]="'btn'">
                            <h3 #content>Community</h3>
                        </hover-button>
                    </div>
                </div>
            </div>
        </section>

        <!-- ?BOTTOM RIGHT TEXT? -->
        <section class="arrow-down">
            <span>Esplora</span>
            <iframe src="https://lottie.host/embed/bae84126-51f6-470d-b566-a7caab9ae8dc/kx5zSKY3o6.json"></iframe>
        </section>
    </header>

    <!-- !MAIN! -->
    <main>
        <!-- ?TOP SIM? -->
        <section class="top-sim">

        </section>
    </main>
    
    <!-- !FOOTER! -->
    <footer class="footer">
    </footer>
</section>

