/* ------------------------------------- */
/* ?Basic Setup */
/* ------------------------------------- */

.container {
    margin: 0 auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
    max-width: 100em;
}

.section {
    display: block;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

/* ------------------------------------- */
/* ?Resulable components? */
/* ------------------------------------- */

/* !------Headings------! */
h1,
h2,
h3 {
    font-weight: 800;
    text-transform: uppercase;
}

h1 {
    font-family: "Anton", sans-serif;
    font-size: 75px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 22px;
}

/* !------Paragraphs------! */

/* !------Links------! */

a:link,
a:visited {
    color: var(--color-dark);
    text-decoration: none;
}

/* a:hover,
a:active {
    
} */

/* !------Icons------! */

/* !------Images------! */

.responsive-img {
    max-width: 100%; /* Larghezza massima sarà il 100% del contenitore padre */
    height: auto; /* Mantiene l'aspetto originale dell'immagine */
}

/* ------------------------------------- */
/* ?LOADER? */
/* ------------------------------------- */

.loader-container {
    position: fixed;
    inset: 0;
    z-index: 999;
    background-color: var(--color-dark-dark);
    display: grid;
    place-content: center;
}

/* ------------------------------------- */
/* ?HEADER? */
/* ------------------------------------- */

.header {
    position: relative;
    width: 100dvw;
    height: 100dvh;
    font-size: 22px;
    color: var(--color-text);
    /* background: linear-gradient(45deg, #f3b0a4 0%, #f4bdb4 5%, rgba(255, 255, 255) 15%, rgba(255, 255, 255,1) 100%); */
    /* background-image: url(../../assets/index/header-bg.webp);
    background-size: cover; */
    overflow: hidden;
    z-index: 0;
}

/* .header::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-dark);
    opacity: 0.5;
    z-index: -1;
} */

/* *3d model* */
.head3dcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 150dvw;
    height: 100dvh;
    z-index: -3;
}

/* *navbar* */
.nav-bar {
    display: flex;
    position: relative;
    width: 100%;
    height: 70px;
    padding: 0 20px;
    font-size: 26px;
    align-items: center;
    justify-content: space-between;
    color: var(--color-text);
    z-index: 1;
}

.logo{
    display: flex;
    cursor: pointer;

    .name{
        display: flex;
        position: relative;
        overflow: hidden;
        transition: all 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        p {
            position: relative;
            transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
        }
        .hidden-text {
            display: flex;
            position: absolute;
            left: 100%;
            transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
            p {
                padding-left: 0.3em;
            }
        }
    }
    
    &:hover {
        .name {
            padding-right: 100px;
            .Energyhub {
                transform: translateX(-100%);
            }
            .hidden-text {
                transform: translateX(-100%);
            }
        }
    }
}

.nav-list {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: fit-content;
    transform: translate(-50%, -50%);
}

.menu {
    display: flex;
    height: 70px;    
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

.menu > li {
    display: inline-block;
    height: 70px;
}

.menu li:first-child {
    white-space: nowrap;
}

.menu > li > a {
    display: block;
    height: fit-content;
    transform: translateY(50%);
}

.menu > li:first-child > a {
    position: relative;
    cursor: default;
}

.menu li a::after {
    display: block;
    content: " ";
    width: 0;
    height: 2px;
    background-color: var(--color-text);
    transition: 0.8s;
}

.menu li a:hover::after {
    width: 100%;
}

.menu li a span {
    font-size: 18px;
}

.menu > li > a > span {
    position: absolute;
    top: 40%;
    left: 100%;
    transform: translate(-50%, 50%);
    transition-duration: 0.5s;
}

.menu > li:first-child > a > span {
    rotate: 180deg;
}

.menu > li:first-child:hover > a > span {
    transform: rotate3d(0, 0, 1, 180deg) translate(50%, -40%);
}

.dropdown {
    display: block;
    position: absolute;
    top: 100%;
    left: -13%;
    padding: 10px 10px;
    width: max-content;
    font-size: 22px;
    background-color: var(--color-skin);
    border: 3px solid var(--color-border);
    border-radius: 10px;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-1rem);
    transition-property: opacity, visibility, transform;
    transition: 0.2s ease-in-out;
}

.dropdown li {
    display: block;
    width: 330px;
}

.menu li:first-child a:hover::after {
    width: 0;
}

.menu li:first-child:hover .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.dropdown li a {
    display: flex;
    position: relative;
    padding: 20px 30px;
    width: 100%;
    letter-spacing: 0.7px;
    border-radius: 10px;
    opacity: 0.7;
    transition: 0.15s ease-in-out;
}

.dropdown li a span {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 24px;
    color: var(--color-prussian-blue);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50%);
    transition: 0.15s ease-in-out;
}

.dropdown li a:hover {
    padding-left: 12%;
    background-color: var(--color-ut-orange);
    opacity: 1;
}

.dropdown li a:hover span {
    right: 10%;
    opacity: 1;
    visibility: visible;
}

.access {
    display: flex;
    width: fit-content;
    height: fit-content;
    list-style: none;
}

.access li a {
    position: relative;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.access li a::after {
    content: " ";
    position: absolute;
    top: 95%;
    left: 50%;
    width: 0;
    height: 0;
    border-radius: 50px;
    background-color: var(--color-text);
    transition: 0.2s;
}

.access li a:hover::after {
    width: 5px;
    height: 5px;
}

/* *mini nav* */
.fixed-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 100dvh;
    background-color: var(--color-dark);
    z-index: 998;
}

.headerButtonContainer{
    transform: scale(0);
    position: fixed;
    top: 40px;
    right: 40px;
    z-index: 4;
    
    .burger {
        width: 100%;
        &::after, &::before {
            content: "";
            display: block;
            width: 40%;
            background-color: var(--color-light);
            height: 2px;
            margin: auto;
            position: relative;
            transition: 0.3s ease-in-out;
        }
        &::after {
            top: -5px;
        }
        &::before {
            top: 5px;
        }
    }
    
    .burgerActive {
        &::after {
            top: -1px;
            transform: rotate(45deg);
        }
        &::before {
            top: 1px;
            transform: rotate(-45deg);
        }
    }
}

/* *header body* */

.header-body {
    position: absolute;
    top: 50%;
    left: 10%;
    width: fit-content;
    text-align: center;
    transform: translateY(-50%);
}

.slogan {
    text-align: left;
    margin-bottom: 40px;
    width: fit-content;
}

.slogan h1 {
    font-size: 85px;
    letter-spacing: 4px;
    line-height: 3rem;
}

.slogan h2 {
    margin-top: 20px;
    text-transform: none;
    font-size: 48px;
    font-weight: 300;
}

.slogan h2 span {
    padding: 5px 15px;
    border-radius: 20px;
}

.slogan h2 span:nth-child(1) {
    background-color: var(--color-blue-green);
}

.slogan h2 span:nth-child(2) {
    background-color: var(--alert-success);
}

.head-btn {
    margin-top: 25px;
}

.head-btn hover-button h2,
.head-btn hover-button h3 {
    color: var(--color-text);
}

.primary-btn {
    margin-bottom: 20px;
}

.secondary-btn {
    display: flex;
    justify-content: space-between;
}

.secondary-btn hover-button {
    width: 45%;
}

/* *arrow* */
.arrow-down {
    display: flex;
    position: absolute;
    bottom: 30px;
    right: 40px;
}

.arrow-down span {
    font-weight: 600;
}

.arrow-down iframe {
    width: 30px;
    height: 30px;
    border: none;
}

/* ------------------------------------- */
/* ?MAIN? */
/* ------------------------------------- */

main {height: 100vh; background-color: var(--color-light);}