/*@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ------------------------------------- */
/* ?Basic Setup */
/* ------------------------------------- */

:root {
    --color-sky-blue: #8ECAE6;
    --color-blue-green: #219EBC;
    --color-prussian-blue: #023047;
    --color-selective-yellow: #ffd15c;
    --color-ut-orange: #FB8500;

    --border-test: 1px solid red;
    
    --color-dark: #1C1D20;
    --color-dark-dark: #141517;
    --color-bg-light: #545454cf;
    --color-light: #FFFFFF;
    --color-border: rgba(28, 29, 32, 0.175);
    --color-border-btn: rgba(255, 255, 255, 0.6);
    --color-text: #1C1D20;
    --color-text-light: #eeeeee;
    --alert-error: #ff4444;
    --alert-success: #24C958;

    --animation-primary: all .5s cubic-bezier(.7, 0, .3, 1);
    --animation-fast: all .3s cubic-bezier(.7, 0, .3, 1);
    --animation-smooth: all .7s cubic-bezier(.7, 0, .3, 1);
    --animation-slow: all .9s cubic-bezier(.7, 0, .3, 1);
    
    --section-padding: clamp(5em, 21vh, 12em);
    --container-padding: clamp(2.5em, 8vw, 8em);
    --gap-padding: clamp(1.5em, 4vw, 2.5em);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: var(--color-dark);
    font-family: 'Gluten', cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    cursor: default;
    
}

