.content{
    text-align: center; 
    width: 100dvw;
    height: 100dvh;
    background-image: url(../../assets/login/minimal-background-pjjl8kholjuxp6sk.jpg);
    overflow-y: hidden;
    background-size:cover;
}
.content::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-dark);
    opacity: 0.4;
}

.main{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* !------TEXT------! */
.scritteLogin{
    color: aliceblue;
    width: 100%;
    font-size: 36px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.main > div:nth-child(1) h1{
    font-size: 60px;
}

/* !------BUTTON------! */
.btn{
    color: black;
    font-size: 160%;
    width: 100%;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal; 
}

.footerbtn{
    background-color: rgba(242, 245, 248, 0.137);
    border-radius: 20px;
    padding: 10px;
    border: 3px solid white;
    
}
.footerbtn:hover{
    background-color: rgba(243, 239, 239, 0.473);
}

/* !------INPUT------! */
.modificaInput{
    width: 100%;
    font-size: 100%;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* !------DIV------! */
/* div{
    border: var(--border-test);
} */

/* !------LINK------! */
a:link,
a:visited {
    color: var(--color-text-light);
    text-decoration: none;
}

.footer-link{
    justify-content: space-around;
    width: 100%;
    display: flex;
    margin-top: 3%;
}

.bottoniScelta .btn {
    margin-bottom: 3%;
    border-style: solid;
    border-radius: 10px;
    color: white ;
    padding: 5px;
    border: 3px solid white;
    background-color: rgba(242, 245, 248, 0.137);
}


.annulla {
    text-align: left;
}

.titolo,
.username,
.password{
    text-align: left;
}


input{
    height: 40px;
    background-color: rgba(242, 245, 248, 0.137);
    border-style: solid;
    border-radius: 10px;
    padding-left: 20px;
    color: white ;
    padding: 5px;
    border-color: white;
    border-width: 3px;
}

input:hover{
    background-color: rgba(243, 239, 239, 0.473);
}

::placeholder{
    color: white;
}

input:focus {
    outline: none;
}

iframe{
    transform: rotate(-90deg);
    border-color: transparent;
    width: 8%;
    position: absolute;
    left: 330px;
    top: 253px;
}
