<section class="content">
    <header class="header">
        <div class="logo">
            <div class="img">
                <a routerLink="../landingPage" class="img"> <img src="../assets/login/Catturalogo.png"></a>
            </div>
        </div>    
    </header>
    <main class="main">
        <div class="titolo">
            <h1 class="scritteLogin">Accedi</h1>
            
        </div>
        <br>
        <div class="username">
            <label for="Username" class="scritteLogin" >Username</label>
            <br>
            <input type="text" class="modificaInput"
            id="Username"
            name="Username"
            placeholder="Enter your Username" required>
        </div>
        <br>
        <div class="password">
            <label for="password" class="scritteLogin" >Password</label>
            <br>
            <input type="password" class="modificaInput"
            id="password"
            name="password"
            placeholder="Enter your Password" required>
        </div>    
        <br>
        <div class="bottoniScelta">
                <button class="btn" onclick="">Accedi <iframe src="https://lottie.host/embed/e0a3efbd-1959-48c6-965a-93c8cddfe55d/A4FCUkPtMV.json"></iframe></button>
                <div class="annulla">
                    <a routerLink="../landingPage" class="link-annulla">Annulla</a>
                </div>
               
        </div>
        <br>
            <div class="footer-link">
                <div style="text-align: left; width: 100%;">
                    <a routerLink="../landingPage" class="footerbtn">Crea account</a>
                </div>
                <div style="text-align: right; width: 100%;">
                    <a routerLink="../landingPage" class="footerbtn">Password dimenticata?</a>
                </div>
            </div>
        
    </main>
</section>
