<section class="content" style="text-align: center">
    <header class="header">
        <div class="titolo">
            <h1>Login page</h1>
            <h3>enter your login credentials</h3>
        </div>
    </header>
    <main class="main">
        <div class="username">
            <label for="Username">Username</label>
            <br>
            <input type="text"
            id="Username"
            name="Username"
            placeholder="Enter your Username" required>
        </div>
        <div class="password">
            <label for="password">Password</label>
            <br>
            <input type="password"
            id="password"
            name="password"
            placeholder="Enter your Password" required>
            <br>
            <button class="btn" onclick="">Conferma</button>
            <button class="btn">Elimina</button>
        </div>
    </main>
    <footer class="footer">
        <div class="btnNotregistered">
            <h6>create an account</h6>
        </div>


    </footer>
</section>
