.content{
    text-align: center; 
    width: 100dvw;
    height: 100dvh;
    background-image: url(../../assets/login/painting-sunset-city-generative-ai-image_87646-22772.webp);
    overflow-y: hidden;
    background-size: cover;
}
.content::before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--color-dark);
    opacity: 0.6;
}


.main{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 30%;
}

/* !------TEXT------! */
.scritteLogin{
    color: aliceblue;
    width: 100%;
    font-size: 36px;
}

.main > div:nth-child(1) h1{
    font-size: 60px;
}

/* !------BUTTON------! */
.btn{
    color: black;
    font-size: 160%;
    width: 100%;
    font-family: 'Gluten', cursive;
}

/* !------INPUT------! */
.modificaInput{
    width: 100%;
    font-size: 120%;
    font-family: 'Gluten', cursive;
}

/* !------DIV------! */
/* div{
    border: var(--border-test);
} */

/* !------LINK------! */
a:link,
a:visited {
    color: var(--color-text-light);
    text-decoration: none;
}

.footer-link{
    justify-content: space-around;
    width: 100%;
    display: flex;
    margin-top: 3%;
}

.bottoniScelta .btn {
    margin-bottom: 3%;
}

.annulla {
    text-align: left;
}

.titolo,
.username,
.password{
    text-align: left;
}


