.magneto {
    display: flex;
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: black;
}